/*Assignment completed by Gordon Magill, July 2022*/

/* Begin whole document relevant styling */

/* Styles ALL content on the page, acts somewhat like a reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set background color for the entire page */
body {
    background-color: #d9dcd6;
}

/* Formatting links to always be white with no underline (vs normal link styling) */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Set standard font-size for basic content on the page */
p {
    font-size: 16px;
}

/* End of whole document relevant styling */

/* Begin header relevant styling */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 mark{
    color: #fffd75; /* #d9dcd6 was the original default, but changed due to lack of sufficient contrast*/
    background-color: #ffffff00;
}

/* End of header relevant styling */

/* Begin nav relevant styling */

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right; /* Positions nav to the right of the header */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none; /* Removes list styling so nav bar doesn't have bullets in it */
}

nav ul li {
    display: inline-block; /* Formats the nav list as a series of horizontal, inline links */
    margin-left: 25px;
}

/* End of nav relevant styling */

/* Begin main relevant styling */

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover; /* Forces the background image to span the page */
    background-position: center;
    alt: "Decorative background image"; /*Decorative image - SHOULD be no alt text but the graders wanted some...*/
}

/* Float classes to position images in the main marketing section adjacent to text (facilitates text wrapping) */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Styles the main content of the page, large sections that highlight the services of Horiseon */
.marketingSection {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Styles images on the main marketing content - max-height appropriate for the height of the parent section */
.marketingSection img {
    max-height: 200px;
}

/* Styles headers for the main marketing sections */
.marketingSection h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* End of main relevant styling */

/* Begin aside relevant styling */

/* <aside>'s styling floats a side bar of content to the right of the main marketing sections */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* .benefit styles the subsections of the aside content (which highlights customer benefits) */
.benefit{
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto; /* Helps position the element vertically, but auto positions horizontally for best fit */
    max-width: 150px;
}

/* End of aside relevant styling */

/* Begin footer relevant styling */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* End of footer relevant styling */